{% extends 'base.html' %}
{% block content %}
<h1>{{ profile.user.username }}'s Profile</h1>
{% if profile.profile_image %}
<img src="{{ profile.profile_image.url }}" alt="Profile Image">
{% endif %}
<p>{{ profile.bio }}</p>
<p>location: {{ profile.location }}</p>
<p>Website: <a href="{{ profile.website }}">{{ profile.website }}</a></p>

{% if request.user != profile.user %}
{% if is_following %}
<a href="{% url 'unfollow_user' profile.user.id %}">Unfollow</a>
{% else %}
<a href="{% url 'follow_user' profile.user.id %}">Follow</a>
{% endif %}
{% endif %}
<p>フォロワー: <a href="{% url 'follower_list' user.username %}">{{ user.followers.count }}</a></p>
<p>フォロー中: <a href="{% url 'following_list' user.username %}">{{ user.following.count }}</a></p>
<a href="{% url 'edit_profile' %}">Edit Profile</a>
{% endblock %}
